.fixed-header {
  background: #fff;
  border-bottom: 1px solid #efefef;
}

.page-name {
  float: left;
  margin: 0;
}

.navbar-list {
  float: right;
  list-style: none;
  margin: 0;
}

.navbar-item {
  float: left;
  margin: 0;
}

.navbar-link {
  display: inline-block;
  padding: 15px 20px;
}
.navbar-link:hover {
  text-decoration: none;
}

section {
  margin-top: 60px;
}

.gallery-container {
  overflow: hidden;
  height: 462px;
}

.gallery-control {
  width: 100%;
  height: 460px;
  line-height: 460px;
  text-align: center;
  font-size: 50px;
  text-decoration: none;
}
.gallery-control:hover {
  cursor: pointer;
}

.tabs-nav {
  list-style: none;
  margin: 0;
}

.tabs-nav-item {
  float: left;
  margin-bottom: 0;
  position: relative;
  bottom: -1px;
}

.tabs-nav-link {
  display: inline-block;
  padding: 15px 20px;
  border: 1px solid #fff;
  border-bottom: 0;
}
.tabs-nav-link.active {
  border-color: #efefef;
  border-bottom: 1px solid #fff;
}
.tabs-nav-link:hover {
  text-decoration: none;
}

.tab-panel {
  display: none;
  height: 200px;
  padding: 10px 20px;
  border: 1px solid #efefef;
}
.tab-panel.active {
  display: block;
}

.form-error {
  display: none;
}